<div>
    <hr>
    <a href="/question">목록으로</a>
    <p>제목: <%=question.title %></p>
    <p>answer(solved 여부, 1 : 해결된 질문) : <%=question.answer %></p>
    <p>comments</p>
    <p>생성일자: <%= question.created_at %></p>
    <form action="/question/delete/<%= question.post_id %>" method="post">
        <button>Delete</button>
        <!-- <a href="/question/update/<%= question.post_id %>">Update</a> -->
    </form>
    <div>
        <p>좋아요 수 : <%= question.likes_count %></p>
        <p>작성자 id : <%=question.user_id %></p>
        <p style="width: 70%; height: 200px; border: 1px solid gray;">내용 : <%=question.content %></p>
        <% if (question.code_language != null) { %>
            <pre><code class="<%= question.code_language %>"><%= question.code %></code></pre>
        <% } %>
    </div>
    <div>
        <form action="/comment/create/<%= question.post_id %>" method="post">
            <textarea name="content" id="" cols="100" placeholder="댓글 작성"></textarea>
            <button type="submit">답변하기</button>
        </form>
    </div>
    <hr>
    <p>Answer</p>
    <% for(let comment of comments) { %>
        <div style="border: 1px solid black;">
            <p>작성자 id : <%=comment.user_id %></p>
            <p>작성일자 : <%= comment.created_at %></p>
            <p>좋아요 수 : <%= comment.likes_count %></p>
            <p>내용 : <%= comment.content %></p>
        </div>
    <% } %>
</div>