<link rel="stylesheet" href="/css/input.css">

<img width="200" height="200" src="<%= user.image %>" alt="profileImage">
<p>이름: <%= user.name %></p>
<p>닉네임: <%= user.nickname %></p>
<p>이메일: <%= user.email %></p>
<p>기수: <%= user.year %></p>
<p>소개문구: <%= user.introduce %></p>
<a href="/mypage/updateUser">회원정보 수정</a>
<br>
<p>좋아요한 게시글</p>
<p>like</p>
<br>
<p>작성한 게시글</p>
<p>like</p>