<p>제목: <%= post.user_name %></p>
<p>제목: <%=post.title %></p>
<p>내용: <%=post.content %></p>
<p>생성일자: <%=post.created_at%></p> 

<form action="/recruit/delete/<%= post.post_id %>" method="post">
    <button>삭제하기</button>
    <a href="/recruit/update/<%= post.post_id %>">Update</a>
</form>

<p>------댓글창입니다------</p>
<form action="/comment/create/<%= post.post_id %>" method="post">
    <textarea name="content" placeholder="content is.."></textarea>
    <button>submit</button>
</form>
<div class="comments">
    <% for (let comment of comments) { %>
        <% if (comment.parent_comment_id === null) { %> 
            <p>------댓글------</p>
            <p><%= comment.content %></p>
            <form action="/comment/delete/<%= comment.comment_id %>" method="post">
                <button>삭제하기</button>
            </form>
            <!-- 대댓글-->
            <form action="/comment/reply/create/<%= comment.comment_id %>" method="post" class="reply-form">
                <input type="hidden" name="parentCommentId" value="<%= comment.comment_id %>">
                <textarea name="content" placeholder="대댓글 내용.."></textarea>
                <button>대댓글 작성</button>
            </form>
            <p>------대댓글------</p>
            <% for (let reply of comments) { %>
                <% if (reply.parent_comment_id === comment.comment_id) { %>
                    <p><%= reply.content %></p>
                    <form action="/comment/reply/delete/<%= comment.comment_id %>" method="post">
                        <button>삭제하기</button>
                    </form>
                <% } %>
            <% } %>
        <% } %>
    <% } %>
</div>




<p><a href="/recruit">목록으로</a></p>

